/* comfortaa-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/comfortaa-v45-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comfortaa-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/comfortaa-v45-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Normalize*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: var(--textcolor-main);
    font-family: "Comfortaa";
}

body,
ul,
figure,
img,
h2 {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.125rem;
}

/*custom property setzten*/
:root {
    --textcolor-main: #353535;
    --dunkel_blau: #0a1344;
    --dunkel-red: #f36666;
    --rosa: #f4eee9;
    --hell-rosa: #fcfaf8;
}

/*CLASS*/
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.display {
    display: none;
}

/*HEADER*/
header {
    background-color: var(--dunkel_blau);
    padding: 10px 20px;
}

#logo {
    width: 50px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dunkel-red);
}

/*Navigation*/
#burgermenu {
    _top: 20px;
    _right: 0px;
    width: 40px;
    display: block;
    cursor: pointer;
    z-index: 999;
}

#kreuz {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 40px;
    z-index: 999;
}

.animation {
    position: absolute;
    transition: height 1s ease-in-out;
    top: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 10;
    background-color: var(--dunkel_blau);
    opacity: 0.9;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.animation li {
    list-style: none;
    display: block;
    line-height: 3;
}

.animation li a {
    color: var(--hell-rosa);
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
}

.show {
    transition: height 1s ease-in-out;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: var(--dunkel_blau);
    opacity: 0.9;
    width: 80%;
    padding-left: 40px;
}

/* Article Interests */
.profile p {
    padding: 20px;
    line-height: 1.25;
    letter-spacing: 2%;
    font-size: 1.25rem;
}

/* Artcle Profile */
h2 {
    background-color: var(--dunkel-red);
    padding: 10px;
    color: var(--hell-rosa);
    padding-left: 20px;
}

.interests p {
    padding: 0px 40px 40px 40px;
    margin: 0;
    line-height: 1.25;
    letter-spacing: 2%;
    font-size: 1.25rem;
}

.interests {
    background-color: var(--hell-rosa);
}

.interests img {
    padding: 40px 40px 0 40px;
}

.interests h3 {
    padding: 20px 0 0 40px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dunkel_blau);
}

/*  section cv */
#cv {
    background-color: var(--dunkel_blau);
    color: var(--dunkel-red);
    font-size: 2rem;
    padding: 20px;
}

_.cv article {
    padding: 20px 20px 0 20px;
}

.cv h4 {
    background-color: var(--dunkel-red);
    color: var(--hell-rosa);
    padding: 20px 0 20px 40px;
    width: 70%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.cv ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 40px;
}

.cv li {
    padding: 10px 0;
    font-size: 1.25rem;
    background-color: var(--hell-rosa);
    padding: 10px;
    margin: 10px 0;
    line-height: 1.25;
}

.education {
    background-color: var(--dunkel_blau);
    color: var(--hell-rosa);
    padding: 20px 40px;
    margin-top: 30px;
    line-height: 1.5;
    letter-spacing: 5%;
    font-weight: 700;
    font-size: 1.25rem;
}

.education h3 {
    font-size: 2rem;
    line-height: 1;
    color: var(--dunkel-red);
}






/* Footer */
footer {
    background-color: var(--dunkel_blau);
    color: var(--rosa);
    padding: 40px;
    font-size: 1.125rem;
    margin-top: 30px;
}

footer address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 5%;
}

footer a {
    color: var(--rosa);
}

footer ul {
    list-style: none;
    padding: 20px 0;
    line-height: 1.5;
    letter-spacing: 5%;
}

.awesome{
    display: flex;
}

.awesome li{
    padding:20px 20px 0 0;
}

.awesome a{
    font-size: 2rem;
}
    

/*   PORTFOLIO  */
.portfolio {
    background-color: var(--hell-rosa);
    padding: 20px;
}
.portfolio figure{
    background-color: var(--dunkel_blau);
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 20px;
    border: 4px solid var(--dunkel-red);
}
.portfolio h3{
    background-color: var(--dunkel-red);
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 20px 0 20px 40px;
    color: var(--hell-rosa);
    font-size: 1.75rem;
}

/*  Contact  */

#contact{
    background-color: var(--hell-rosa);
}
#contact main h3{
    background-color: var(--dunkel-red);
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 20px 0 20px 20px;
    color: var(--hell-rosa);
    font-size: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    width: 80%;
    margin: 0 auto;
}
label{
    font-size: 1.5rem;
    color: var(--dunkel_blau);
}

input,
button{
    padding: 10px;
}
input,
textarea{
    border: 4px solid var(--dunkel-red);
}

button{
    background-color: var(--dunkel_blau);
    border: 4px solid var(--dunkel-red);
    color: var(--hell-rosa);
    font-size: 1.5rem;
}