<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Smit</title>
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/media.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
</head>

<body id="portfolio">
    <header class="flex">
        <figure>
            <a href="index.html"><img src="../static/img/logo_lora_smith.svg" alt="logo" id="logo"></a>
        </figure>

        <h1>Lora Smith</h1>

        <nav>
            <ul class="animation">
                <li><a href="index.html">Home</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <figure id="burgermenu" class="display">
            <img src="../static/img/burger_menu.svg" alt="Hamburgermenu">
        </figure>

        <figure id="kreuz" class="display">
            <img src="../static/img/close_menu.svg" alt="Cross">
        </figure>
    </header>
    <main class="portfolio">

        <section>
            <h3>Layout</h3>
            <div class="layout">
                <figure>
                    <img src="../static/img/Elegant-InDesign-Magazine-Template.jpg" alt="magazine" width="800"
                        height="1120">
                </figure>
                <figure>
                    <img src="../static/img/14ce8324-featured-image.jpg" alt="magazine" width="800" height="1120">
                </figure>
                <figure>
                    <img src="../static/img/1000_F_374169665_mvpP3GeWTsJqPZQEw0C7xsNaHfHG9d5l-2096396826.jpg"
                        alt="magazine" width="800" height="1120">
                </figure>
            </div>
        </section>

        <section>
            <h3>Plakate</h3>
            <div class="plakate">
                <figure>
                    <img src="../static/img/Plakate-fuer-die-Demokratie_Neubauer.jpg" alt="plakate" width="800"
                        height="1120">
                </figure>
                <figure>
                    <img src="../static/img/Berlinale-Plakate-2025_How-to-be-normal.jpg" alt="plakate" width="800"
                        height="1120">
                </figure>
                <figure>
                    <img src="../static/img/Berlinale-Plakate-2025_Stone-of-Destiny.jpg" alt="plakate" width="800"
                        height="1120">
                </figure>
            </div>
        </section>

        <section>
            <h3>Webdesing</h3>
            <div class="web">
                <figure>
                    <img src="../static/img/website_1.png" alt="website" width="1917" height="1000">
                </figure>
                <figure>
                    <img src="../static/img/website_2.png" alt="website" width="1917" height="1000">
                </figure>
                <figure>
                    <img src="../static/img/website_3.png" alt="website" width="1917" height="1000">
                </figure>
            </div>
        </section>
    </main>
    <footer>
        <h3>Contact Information</h3>
        <div class="footer">
            <address>
                <a href="mailto: contact@lorasmit.com">contact@lorasmit.com</a><br>
                <a href="www.lorasmit.com">www.lorasmit.com</a><br>
                Tel: +49 170 1234567 <br>
                Berlin, Germany
            </address>

            <nav>
                <ul class="awesome">
                    <li><a href="https://de-de.facebook.com/" target="_blank" aria-label="Link für Facebook"><i
                                class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="https://x.com/" target="_blank" aria-label="Link für Twitter"><i
                                class="fa-brands fa-square-x-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" aria-label="Link für Instogram"><i
                                class="fa-brands fa-square-instagram"></i></a></li>
                </ul>
            </nav>

            <ul>
                <li>privacy policy</li>
                <li>imprint</li>
            </ul>
        </div>
    </footer>

    <script src="../static/js/main.js"></script>
</body>

</html>